@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Kameron:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.boxNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;  
    background-color: rgb(0, 0, 0);
}
.boxNav h1{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    flex-basis: 10em;
    font-family: 'Playfair Display SC', serif; 
}
.boxNav h1 a{
    text-decoration: none;
    color: #fafafa;
}
.boxNav div{
    width: 9.375rem;
    height: 3.75rem; 
}
.boxNav div section{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.btn-nav{
    display: none;
}
.boxNav div section a{
    text-decoration: none;
    width: 2.1875rem; 
    height: 2.1875rem;
}
.boxNav div section a:last-child{
    margin-left: -0.4375rem;
}
.boxNav div section a img{
    width: 100%;
    height: 100%;
}
.enlacesNav {
    display: flex;
    justify-content: space-around;
    padding: .1875rem;
    background-color: #e2e2c9;
    margin: 0rem;
    padding: 10px;
}
.enlacesNav li {
    overflow: hidden;
  }
.enlacesNav li:hover {
    transform: scale(1.3);
    transition: 1s;
}
.enlacesNav li a {
    font-family: "Mulish", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}





.marcasHome{
    height: auto;
    width: 96%;
    margin-top: .625rem;
    background-color: #000000;
    border-radius: .75rem;
}
.marcasHome h2{
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin: .625rem 0rem 0rem 0rem;
    color: white;
}
.marcasHome div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: .625rem;
}
.marcasHome div i{
    font-size: 1.5em;
    color: #fffefe;
}
.marcasHome div img{
    flex-grow: 1;
    object-fit: cover;
    height: auto;
    width: 200px;
    border: solid .125rem #000;
    border-radius: .75rem;
    padding: 10px;
}
.bannerHome{
    height: auto;
    margin-top: .625rem;
}
.bannerHome img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.secCarruScale{
   margin: 20px 0px;
}
.secCarruScale h4{
    font-family: "mulish", sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin-top: .625rem;
    margin-bottom: .625rem;
    margin-left: 1.25rem;
    color: black;
}
.carruScale{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 26.875rem; 
    margin: 0 auto;     
}
.carruScale img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}
.carruScale img:hover{
    cursor: crosshair;
    width: 18.75rem;
    opacity: 1;
    filter: contrast(120%);
}

footer{
    height: 20rem;
    background-color: rgb(0, 0, 0);
}
footer h2{
    text-align: center;
    font-family: "Inika", serif;
    font-size: 2.5em;
    font-weight: 300;
    margin-top: .0625rem;
    margin-bottom: .625rem;
    color: white;
}
footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer section div{
    width: 21.875rem;
    height: 12.5rem;
    border: solid .0625rem #000;
    border-radius: .3125rem;
    text-align: center;
}
.boxFooter svg{
    margin-top: .625rem;
    color: white;
}
.boxFooter h3{
    font-family: "Inika", serif;
    margin: .625rem .125rem;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
}
.boxFooter p{
    font-family: "Inika", serif;
    font-size: 1.5em;
    font-weight: 300;
    margin: .625rem .125rem;
    color: white;
}
.boxFooterActive svg{
    margin-top: .625rem;
}
.boxFooterActive h3{
    font-family: "Inika", serif;
    margin: 2.1875rem .125rem;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
}
footer h4{
    color: white;
    text-align: center;
    font-family: "Inika", serif;
    font-size: 1.875rem;
    font-weight: 300;
    margin-top: .625rem;
}

.mainCatalogo{
    margin-top: 1em;
}
.boxCatalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    margin-bottom: .9375rem;
}
.boxCatalogo article{
    border-radius: .625rem;
    box-shadow: 0 .625rem 1.25rem rgba(0, 0, 0, 0.20);
}
.boxCatalogo article:hover{
    border: .0625rem solid rgba(125, 5, 134, 0.756);
}
.fotoVino{
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    border-radius: .625rem .625rem 0 0;
    transition: all .5s;
}
.boxDetalleArticulo{
    padding: .9375rem 1.875rem; 
    line-height: 2;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: .625rem;  
}
.boxDetalleArticulo h4{
    font-family: Mullish, sans-serif;
   margin: 0rem;
    font-family: 'Playfair Display SC', serif; 
}
.boxDetalleArticulo p{
    font-family: Mullish, sans-serif;
    margin: 0rem;
    font-family: 'Kameron', serif;
}

.boxContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 44.5rem;
    background-color: rgb(0, 0, 0);
}
.boxContacto div{
   flex-grow: 1;
   flex-basis: 0;
}
.boxContacto div img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.boxContacto .boxFormContacto form{
    display: flex;
    color: #fafafa;
    height: 100%;
    flex-direction: column; 
    align-items: center;
    margin-top: .9375rem;
}
.boxContacto .boxFormContacto form h2{
    color: rgb(255, 255, 255);
    font-size: 1.5625rem;
    font-family: "Inika", serif;
}
.boxContacto .boxFormContacto form input{
    font-family: "Inika", serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: #e2e2c9;
    width: 43.75rem; 
    font-size: 1.5625rem;
    margin: .625rem 0rem;
    padding: .9375rem 0rem;
}
.boxContacto .boxFormContacto form textarea{
    font-family: "Inika", serif;
    color: rgb(0, 0, 0);
    font-size: 1.5625rem;
    height: 17.5rem;
    width: 43.75rem; 
    margin: .625rem 0rem;
}
.boxContacto .boxFormContacto form .btnEnviarForm{
    color: black;
    background-color: #fafafa;
    width: 13rem;
    height: 1.875rem;
    font-family: "Inika", serif;
    display: block;
    text-align: center;
    padding: .0625rem .9375rem;
    margin: .5rem 0rem;
}



@media(max-width: 1005px){
    
    .marcasHome{
        height: auto;
    }
    .marcasHome h2{
       font-size: 2.1em;   
    }
    .marcasHome div img{
        width: 150px;
    }
    .boxCatalogo{
        grid-template-columns: repeat(3, 1fr);
    }
    footer{
        height: 35rem;
    }
    footer section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .625rem;
        align-items: center;
        margin: 0rem .625rem;
        margin-bottom: .625rem;
        margin-top: .625rem;
        justify-content: center;
        justify-items: center;
    }
    footer h4{
        font-size: 20px;
        font-weight: 300;
        margin-top: .625rem;
    }
     .secCarruScale h4{
         font-size: 2.0em;
     }
     .carruScale{
         width: 100%;
         height: 300px;     
     }
     .carruScale img:hover{
         width: 15rem;
     }
    
}


/*TABLET*/
@media(max-width: 768px){
    .enlacesNav{
        padding: 5px;
    }
    .enlacesNav li a{
        font-size: 15px;
    }
    .marcasHome h2{
        font-size: 1.5em;
    }
    .marcasHome div img:nth-child(2){
        display: none;
    }
    .marcasHome div i{
        font-size: 10px;
    }
    .boxCatalogo{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        height: 28rem;
    }
    footer section{
        grid-template-columns: repeat(2, 150px);
        gap: 0rem;
        margin: 0rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
        justify-content: space-around;
        justify-items: center; 
    }  
    .boxFooter{
        width: 200px;
        height: 150px;
    }
    .boxFooterActive{
        width: 200px;
        height: 150px;
    }
    .boxFooterActive h3{
        font-size: 15px;
        margin: 1rem 0rem 0rem 0rem;
    }
    .boxFooter h3{
        font-size: 15px;
    }
    .boxFooter p{
        font-size: 15px;
    }
    .secCarruScale h4{
        font-size: 1.8em;
    }
    .carruScale{
        height: 230px;     
    }
    .carruScale img:hover{
        width: 12rem;
    }
}  
@media(max-width: 550px){

    .boxNav h1{
        text-align: left;
    }
    .iconNav{
        display: none;
    }
    .enlacesNav{
        display: none;
    }
    .btn-nav{
        display: block;   
        position: absolute;
        top: 18px;
        right: 20px;
    }
    .btn-nav button{
        background-color: transparent;
        border: none;
    }
    .marcasHome div{
        gap: .1875rem;
    }
    .marcasHome h2{
        font-size: 1.2em;
    }
    .marcasHome div img{
        width: 80px;
    }
    
   
    .boxCatalogo{
        grid-template-columns: repeat(2, 1fr);
    }
    .boxCatalogo article{
        height: auto;
        width: 100%;
    }
    .boxCatalogo article figure{
        height: 90%;
        margin: 0px;
    }
    .boxCatalogo article figure img{
        width: 100%;
        height: 100%;
    }
    .boxDetalleArticulo{
        height: 10%;
        padding: 0px;
    }
    .boxFooter h3{
        font-size: 15px;
    }
    .boxFooter p{
        font-size: 15px;
    }
    .secCarruScale h4{
        font-size: 1.5em;
    }
    .carruScale img:hover{
        width: 11rem;
    }
}

/*MOBILE*/
@media(max-width: 400px){
    .boxNav h1{
        font-size: 20px;
    }
    .marcasHome div{
        justify-content: space-evenly;
    }
    .marcasHome div img:nth-child(3){
        display: none;
    }
    footer{
        height: 47rem;
    }
    footer section{
        grid-template-columns: repeat(1, 150px);
    }  
    .secCarruScale h4{
        font-size: 1.5em;
    }
    .carruScale img:hover{
        width: 8rem;
    }
   
}








