html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    background-color: #fafafa;
}
.boxEncabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;  
    background-color: black;
}
.tituloPrincipal{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    flex-basis: 10em;
    font-family: 'Playfair Display SC', serif; 
    color: #fafafa;
}
.listado{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    flex-basis: 25em;
    font-family: 'Playfair Display SC', serif; 
    color: #fafafa;
}
.boxMain{
    margin-top: 1.5em;
}
.boxGaleria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.boxArticulo{
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.boxArticulo:hover{
    border: 1px solid rgba(125, 5, 134, 0.756);
}
.fotoVino{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.boxArticulo figure{
    overflow: hidden;
}
.boxArticulo:hover img{
    transform: scale(1.2);
}
.boxDetalleArticulo{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
.detalleArticulo{
    width: 100%;
    margin-top:-0.2em;
    font-family: 'Playfair Display SC', serif; 
}
.precioArticulo{
    width: 100%;
    margin-top:-0.8em;
    font-size: 1.5em;
    font-family: 'Kameron', serif;
}







